<mat-card [style.background-color]="color">
    <div class="header">
        <div class="title" (click)="toggleTotals()">{{label}}</div>

        <div *ngIf="tooltip" class="label">
            <div *ngFor="let t of tooltip;let index = index" [style.font-size]="index == 0 ? '1em': '.8em'">{{t}}</div>
        </div>
        <canvas baseChart height="250" width="250" [colors]="colors" [datasets]="datasets" [labels]="labels" [options]="options"
            [chartType]="chartType" (chartClick)="chartClicked($event)"></canvas>
    </div>
</mat-card>