<view-wrapper [head]="head">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div flexContainer>
            <menu-left>
                <menu-header>
                    <menu-title>{{ 'User' | translate }}</menu-title>
                </menu-header>
                <menu-container>

                    <mat-card-content *ngIf="value" flexContainer class="flex-container">
                        <field icon="person" [(ngModel)]="value.name" name="name" type="text" flex=5></field>
                        <field [(ngModel)]="value.prename" name="prename" type="text" flex=5></field>
                        <field icon="phone" [(ngModel)]="value.telNumber" name="telNumber" type="tel" flex=5></field>
                        <field icon="smartphone" [(ngModel)]="value.mobilNumber" name="mobilNumber" type="tel" flex=5></field>
                        <field icon="my_location" [(ngModel)]="value.city" name="city" type="text" flex=5></field>
                        <field [(ngModel)]="value.street" name="street" type="text" flex=3></field>
                        <field [(ngModel)]="value.zipCode" name="zipCode" type="number" flex=2></field>
                        <field [(ngModel)]="value.comment" name="comment" type="textarea" flex=10></field>
                        <field [(ngModel)]="value.color" [options]="colors" (change)="setCustomColor()" name="color" type="select" flex=10></field>
                        <field [(ngModel)]="value.language" [options]="languages" name="language" type="select" flex=10></field>
                    </mat-card-content>

                </menu-container>
            </menu-left>
            <menu-right>
                <menu-header>
                    <menu-title>{{ 'Edit' | translate }}</menu-title>
                </menu-header>
                <menu-container style="position:relative;">
                    <div class="avatar-wrapper">
                        <img [src]="avatar" class="avatar" />
                    </div>
                    <mat-file color="primary" (onCompleteAll)="reloadFiles()" text="upload" [url]="uploadUrl"></mat-file>
                    <menu-entry (click)="onSubmit(f)" color="{{f.dirty ? color : 'rgba(0,0,0,0.54)' }}">
                        {{'Save' | translate}}
                        <mat-icon>save</mat-icon>
                    </menu-entry>
                </menu-container>
            </menu-right>
        </div>
    </form>
</view-wrapper>