<view-wrapper [head]="head">
    <div style="display:flex;  justify-content: flex-start">
        <mat-tab-group style="flex-grow:1" #tabGroup (selectedTabChange)="tabChanged($event)">
            <ng-container *ngFor="let dataSource of dataSources; let i = index">
                <mat-tab label="{{units[i].name}}">
                    <mat-card style="padding:0">
                        <data-source-table selectable="true" [columns]="columns" [dataSourceFactory]="dataSource" (changed)="changed($event)" (selected)="selected($event)"></data-source-table>
                    </mat-card>
                </mat-tab>
            </ng-container>
        </mat-tab-group>

        <div class="menu-wrapper">
            <div class="menu">
                <div class="menu-header">
                    <span class="menu-title" translate>Edit</span>
                    <span class="menu-spacer"></span>
                    <mat-icon>more_vert</mat-icon>
                </div>
                <div class="menu-container">
                    <span class="menu-entry" translate (click)="add()" title="New element will be added. You can also use the insert key">
                        <mat-icon>note_add</mat-icon>
                        Insert</span>
                    <span class="menu-entry" translate (click)="copy()" title="Selected elements will be copied down.">
                        <mat-icon>content_copy</mat-icon>
                        Copy
                    </span>
                    <span class="menu-entry" translate (click)="delete()" title="Selected elements will be deleted. You can also use the delete key">
                        Delete
                        <mat-icon>delete</mat-icon>
                    </span>
                    <span class="menu-entry" translate (click)="up()" title="Selected elements will move up. You can also use the arrow key">
                        Up
                        <mat-icon>keyboard_arrow_up</mat-icon>
                    </span>
                    <span class="menu-entry" translate (click)="down()" title="Selected elements will move down. You can also use the arrow key">
                        Down
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </span>
                </div>
            </div>
            <div class="wrapper">
                <doughnut editView="true" [label]="label" [units]="units" [color]="color" [update]="update"></doughnut>
            </div>

        </div>
    </div>
</view-wrapper>