<view-wrapper [head]="head">
    <div flexContainer>
        <menu-left noTop="true">
            <mat-tab-group style="flex-grow:1" #tabGroup (selectedTabChange)="tabChanged($event)" [@.disabled]="true">
                <ng-container *ngFor="let dataSource of dataSources; let i = index">
                    <mat-tab *ngIf="units" label="{{units[i].name}}">
                        <mat-card style="padding:0">
                            <data-source-table editable="true" selectable="true" [columns]="columns" [dataSourceFactory]="dataSource" (changed)="onUpdate(true)"
                                (selected)="selected($event)"></data-source-table>
                        </mat-card>
                    </mat-tab>
                </ng-container>
            </mat-tab-group>
        </menu-left>
        <menu-right>
            <menu-header>
                <menu-title>{{'Edit' | translate}}</menu-title>
                <button mat-icon-button [matMenuTriggerFor]="editMenu">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </menu-header>
            <menu-input *ngIf="unit">
                <field icon="folder" [(ngModel)]="unit.name" name="name" type="text" half="true" flex=5></field>
            </menu-input>

            <mat-menu #editMenu="matMenu">
                <div class="mat-menu-items">
                    <button mat-menu-item (click)="addFolder()">
                        <mat-icon>create_new_folder</mat-icon> Add new folder
                    </button>
                    <button mat-menu-item (click)="deleteFolder()">
                        <mat-icon>delete_forever</mat-icon> Delete this folder
                    </button>
                </div>
            </mat-menu>

            <menu-container noTop="true">
                <menu-entry (click)="save()" color="{{touched ? color : 'rgba(0,0,0,0.54)' }}" title="New element will be added. You can also use the insert key">
                    {{'Save' | translate}}
                    <mat-icon>save</mat-icon>
                </menu-entry>
                <menu-entry (click)="add()" title="New element will be added. You can also use the insert key">
                    {{'Insert' | translate}}
                    <mat-icon>note_add</mat-icon>
                </menu-entry>
                <menu-entry (click)="copy()" title="Selected elements will be copied down.">
                    {{'Copy' | translate}}
                    <mat-icon>content_copy</mat-icon>
                </menu-entry>
                <menu-entry (click)="delete()" title="Selected elements will be deleted. You can also use the delete key">
                    {{'Delete' | translate}}
                    <mat-icon>delete</mat-icon>
                </menu-entry>
                <menu-entry (click)="up()" title="Selected elements will move up. You can also use the arrow key">
                    {{'Up' | translate}}
                    <mat-icon>arrow_upward</mat-icon>
                </menu-entry>
                <menu-entry (click)="down()" title="Selected elements will move down. You can also use the arrow key">
                    {{'Down' | translate}}
                    <mat-icon>arrow_downward</mat-icon>
                </menu-entry>
                <menu-entry (click)="pin()">
                    <mat-icon>{{theme ? 'favorite' : 'favorite_border'}}</mat-icon>{{ (theme ? 'Unpin' : 'Pin') | translate }}
                </menu-entry>
            </menu-container>
            <menu-right-spacer></menu-right-spacer>
            <div *ngIf="units" class="wrapper">
                <edit-chart [units]="units" [type]="type" (edit)="onEdit($event)" [color]="color" [label]="label" [update]="update">
                </edit-chart>
            </div>
        </menu-right>
    </div>
</view-wrapper>