mat-tab-group ::ng-deep mat-tab-header {
    background: #ffffff4d;
}

.menu-entry {
    user-select: none;
    padding: 12px 12px 12px 36px;
    display: block;
    cursor: pointer;
    position: relative;
}
.menu-entry > mat-icon {
    position: absolute;
    top: 10px;
    left: 0px;
}
.menu-container {
    background-color: white;
    padding: 0px 24px 12px 24px;
}

.menu-header {
    background: #fafafa;
    font-weight: 400;
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 21px;
    display: flex;
    position: relative;
}
.menu-title {
    font-size: 14px;
    line-height: 24px;
}
.menu-header > button {
    position: absolute;
    right: 12px;
    top: 12px;
}

.menu {
    background: transparent;
    color: rgba(0, 0, 0, 0.54);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-wrapper {
    padding: 48px 0px 12px 24px;
}

.menu-padding {
    padding: 0px 0px 12px 24px;
}

.wrapper {
    padding-top: 24px;
}
.left {
    display: inline-block;
    width: calc(100% - 350px);
}
.right {
    display: inline-block;
    min-width: 350px;
    max-width: 350px;
    overflow: hidden;
}
@media (max-width: 900px) {
    .left,
    .right {
        min-width: 100%;
        max-width: 100%;
        width: 100%;
    }
}
