.search {
    padding: 8px 24px 0;
    flex-grow: 1;
    font-size: 14px;
    font-weight: 400;
}
.header {
    display: flex;
    background: #fafafa;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.mat-paginator {
    background: transparent;
}
