<view-wrapper [head]="head">
    <div flexContainer>
        <ng-container *ngFor="let item of items;let i = index">
            <span flex=2.5>
                <div class="wrapper">
                    <ng-container *ngIf="i<20">
                        <dashboard-bar *ngIf="item.type == 'bar'" [config]="item"></dashboard-bar>
                        <dashboard-doughnut *ngIf="item.type == 'doughnut'" [config]="item"></dashboard-doughnut>
                        <dashboard-icon *ngIf="item.type == 'icon'" [config]="item"></dashboard-icon>
                    </ng-container>
                </div>
            </span>
        </ng-container>
    </div>
</view-wrapper>