<view-wrapper [head]="head" [button]="button">
    <div flexContainer>
        <menu-left>
            <menu-header>
                <menu-title>{{ name | translate }}</menu-title>
            </menu-header>
            <menu-container *ngIf="value" flexContainer>

                <div flex=1>
                    <div flexContainer>
                        <span flex=10>{{positive | translate}}</span>
                        <div style='flex: 5; border: 1px solid transparent; min-width:0'>
                            <overview-chart [units]="value.positive" path="{{type + '.positive'}}" (edit)="goto('positive', $event)"></overview-chart>
                        </div>
                        <div flex=10 style="text-align:right;padding:12px 0px;">
                            <button mat-button (click)="goto('positive')">
                                {{'Edit' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
                <div flex=1>
                    <div flexContainer>
                        <span flex=10>{{negative | translate}}</span>
                        <div style='flex: 5; border: 1px solid transparent; min-width:0'>
                            <overview-chart [units]="value.negative" path="{{type + '.negative'}}" (edit)="goto('negative',$event)"></overview-chart>
                        </div>
                        <div flex=10 style="text-align:right;padding:12px 0px;">
                            <button mat-button (click)="goto('negative')">
                                {{'Edit' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </menu-container>
        </menu-left>

        <menu-right>
            <menu-header>
                <menu-title>{{ 'Edit' | translate }}</menu-title>
                <button mat-icon-button [matMenuTriggerFor]="editMenu">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </menu-header>
            <menu-input *ngIf="value">
                <field icon="folder" [(ngModel)]="value.name" name="name" type="text" half="true" flex=5></field>
            </menu-input>
            <menu-container noTop="true">
                <menu-entry (click)="save()">
                    <mat-icon>save</mat-icon>{{ 'Save' | translate }}
                </menu-entry>
                <menu-entry (click)="pin()">
                    <mat-icon>{{theme ? 'favorite' : 'favorite_border'}}</mat-icon>{{ (theme ? 'Unpin' : 'Pin') | translate }}
                </menu-entry>
            </menu-container>

            <mat-menu #editMenu="matMenu">
                <div class="mat-menu-items">
                    <button mat-menu-item (click)="copy()">
                        <mat-icon>content_copy</mat-icon> Copy this budget
                    </button>
                    <button mat-menu-item (click)="delete()">
                        <mat-icon>delete_forever</mat-icon> Delete this budget
                    </button>
                </div>
            </mat-menu>
        </menu-right>
    </div>
</view-wrapper>