.menu-padding {
    padding: 48px 0px 0px 24px;
}

.menu {
    background: transparent;
    color: rgba(0, 0, 0, 0.54);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
