<view-wrapper [head]="head" [button]="button">
    <div flexContainer>
        <menu-left>
            <data-source-table selectable="true" [columns]="columns" [dataSourceFactory]="dataSource" (selected)="selected($event)"></data-source-table>
        </menu-left>
        <menu-right>
            <menu-header>
                <menu-title>{{ 'Edit' | translate }}</menu-title>
            </menu-header>
            <menu-container>
                <menu-entry>
                    <mat-icon>delete_forever</mat-icon>{{ 'Delete' | translate }}
                </menu-entry>
            </menu-container>
        </menu-right>
    </div>
</view-wrapper>