.not-loaded {
    min-width: 298px;
    min-height: 298px;
    display: block;
    position: relative;
    flex-grow: 1;
}
.loading {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    left: 50%;
}

.title {
    padding-bottom: 20px;
}

.chart-wrapper {
    flex: 5; 
    border: 1px solid transparent; 
    min-width:0
}

.edit-button {
    text-align:right;
    padding:12px 0px;
}
