<view-wrapper [head]="head">
    <div flexContainer>

        <span flex=2.5 *ngFor="let b of budget">
            <div class="wrapper">
                <bar [label]='b.name' [units]="b" color="#26c6da" (edit)="edit('#66bb6a')"></bar>
            </div>
        </span>

        <span flex=2.5>
            <div class="wrapper">
                <doughnut [label]="config.getName('assets.positiv')" [units]="assets.positiv" [color]="config.getColor('assets.positiv')"
                    (edit)="edit('assets.positiv')"></doughnut>
            </div>
        </span>
        <span flex=2.5>
            <div class="wrapper">
                <doughnut [label]="config.getName('assets.negativ')" [units]="assets.negativ" [color]="config.getColor('assets.negativ')"
                    (edit)="edit('assets.negativ')"></doughnut>
            </div>
        </span>
        <span flex=2.5>
            <div class="wrapper">
                <doughnut [label]="config.getName('revenue.negativ')" [units]="revenue.positiv" [color]="config.getColor('revenue.positiv')"
                    (edit)="edit('revenue.positiv')"></doughnut>
            </div>
        </span>
        <span flex=2.5>
            <div class="wrapper">
                <doughnut [label]="config.getName('revenue.negativ')" [units]="revenue.negativ" [color]="config.getColor('revenue.negativ')"
                    (edit)="edit('revenue.negativ')"></doughnut>
            </div>
        </span>

    </div>
</view-wrapper>