<view-wrapper [head]="head">
    <div flexContainer>
        <!--
        <span flex=2.5 *ngFor="let b of budget">
            <div class="wrapper">
                <mat-card>
                    <bar [label]='b.name' [units]="b" color="#66bb6a" (edit)="edit('#66bb6a')"></bar>
                </mat-card>
            </div>
        </span>
    -->
        <span flex=2.5>
            <div class="wrapper">
                <mat-card>
                    <doughnut [label]="config.getName('assets.positiv')" [units]="assets.positiv" color="#66bb6a" (edit)="edit('assets.positiv')"></doughnut>
                </mat-card>
            </div>
        </span>
        <span flex=2.5>
            <div class="wrapper">
                <mat-card>
                    <doughnut [label]="config.getName('assets.negativ')" [units]="assets.negativ" color="#ef5350" (edit)="edit('assets.negativ')"></doughnut>
                </mat-card>
            </div>
        </span>
        <span flex=2.5>
            <div class="wrapper">
                <mat-card>
                    <doughnut [label]="config.getName('revenue.negativ')" [units]="revenue.positiv" color="#26a69a" (edit)="edit('revenue.positiv')"></doughnut>
                </mat-card>
            </div>
        </span>
        <span flex=2.5>
            <div class="wrapper">
                <mat-card>
                    <doughnut [label]="config.getName('revenue.negativ')" [units]="revenue.negativ" color="#ff7043" (edit)="edit('revenue.negativ')"></doughnut>
                </mat-card>
            </div>
        </span>

    </div>
</view-wrapper>