.not-loaded {
    min-width: 298px;
    min-height: 298px;
    display: block;
    position: relative;
    flex-grow: 1;
    background: rgba(255, 255, 255, 0.6) !important;
}
.loading {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    left: 50%;
}
.label {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    left: 50%;
}

.title {
    position: absolute;
    font-size: 1.5em;
    bottom: 24px;
    cursor: pointer;
}

.header {
    position: relative;
    padding: 24px;
    display: inline-block;
    width: calc(100% - 48px);
}

.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
}
mat-list-item.isBase {
    cursor: pointer;
}
.value {
    color: rgba(0, 0, 0, 0.54);
}
.isBase {
    display: none;
}
canvas {
    margin: auto;
}

mat-card {
    width: 100%;
    padding: 0px;
    display: inline-block;
}

.hidden {
    height: 0px;
    /*overflow: hidden;*/
    transition: height 2s;
    transition: opacity 2s;
    opacity: 0;
}
.dropdown {
    transition: opacity 2s;
    transition: height 2s;
    opacity: 1;
}

.dropdown {
    overflow: hidden;
    opacity: 0;
    transform: scaleY(0);
    transition: transform 100ms ease, opacity 100ms ease;
    transform-origin: top;
    position: absolute;
    padding-bottom: 24px;
    left: 0;
    right: 0;
    top: 0px;
    z-index: 10;
}

.dropdown-show {
    opacity: 100;
    transform-origin: top;
    transform: scaleY(1);
    height: auto;
    overflow: auto;
}

.dropdown > mat-card {
    padding: 0;
}
.dropdown > mat-card > div {
    padding: 12px 0;
}

.more-button {
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.edit-button-top {
    position: absolute;
    top: 12px;
    right: 12px;
}

.edit-button {
    position: absolute;
    top: 0px;
    right: 12px;
}
.edit-button-text {
    cursor: pointer;
}

.relative {
    position: relative;
}
.dark {
    color: white;
}
.light {
    color: rgba(0, 0, 0, 0.54);
}
