.label {
    position: fixed;
    color: rgba(0, 0, 0, 0.54);
}

.header {
    position: relative;
    padding: 24px;
    display: inline-block;
    width: calc(100% - 48px);
}

.not-loaded {
    min-width: 298px;
    min-height: 298px;
    display: block;
    position: relative;
    flex-grow: 1;
}
.loading {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    left: 50%;
}
