<mat-card [style.background-color]="color">
    <div class="header">
        <div class="title" (click)="toggleTotals()">{{label}}</div>

        <button mat-icon-button class="edit-button-top" (click)="onEdit()">
            <mat-icon>create</mat-icon>
        </button>

        <div *ngIf="tooltip" class="label">
            <div *ngFor="let t of tooltip;let index = index" [style.font-size]="index == 0 ? '1em': '.8em'">{{t}}</div>
        </div>
        <canvas baseChart height="250" width="250" [colors]="colors" [datasets]="datasets" [labels]="labels" [options]="options"
            [chartType]="chartType" (chartClick)="chartClicked($event)"></canvas>

        <button mat-icon-button class="more-button" (click)="more=!more">
            <mat-icon *ngIf="!more">expand_more</mat-icon>
            <mat-icon *ngIf="more">expand_less</mat-icon>
        </button>
    </div>
    <div class="relative">
        <div [ngClass]="{'dropdown-show':more}" class="dropdown">
            <mat-card>
                <div *ngIf="unit">
                    <mat-list dense>
                        <h3 matSubheader class="relative">
                            <button mat-icon-button *ngIf="!isBase" (click)="back()">
                                <mat-icon>arrow_back</mat-icon>
                            </button>
                            <span (click)="back()" class="edit-button-text">{{unit.name}}</span>
                            <button mat-icon-button class="edit-button" (click)="onEdit()">
                                <mat-icon>create</mat-icon>
                            </button>
                        </h3>
                        <ng-container *ngIf="unit.elements">
                            <mat-list-item *ngFor="let element of unit.elements" (click)="itemClick(element.name)" [ngClass]="{'isBase':isBase}">
                                <mat-icon matListIcon>{{ unit == totalUnit ? 'folder' : 'note' }}</mat-icon>
                                <h4 matLine>{{element.name}}</h4>
                                <p matLine class="value"> {{element.value | numberWithSeperator}} </p>
                            </mat-list-item>
                        </ng-container>
                    </mat-list>
                </div>
            </mat-card>
        </div>
    </div>
</mat-card>