<mat-card [style.background-color]="color">
    <div class="header">
        <div class="title">{{label}}</div>
        <div *ngIf="tooltip" class="label">
            <div *ngFor="let t of tooltip;let index = index" [style.font-size]="index == 0 ? '1.2em' : index == 1 ? '1em' : '.8em'" style="color:white">{{t}}</div>
        </div>
        <div class="placehoder"></div>

        <canvas baseChart height="250" width="250" [colors]="colors" [datasets]="datasets" [labels]="labels" [options]="options"
            [chartType]="chartType" (chartClick)="chartClicked($event)"></canvas>

        <button mat-fab style="position:absolute;bottom:-24px;right:24px;" (click)="onEdit()">
            <mat-icon aria-label="edit">create</mat-icon>
        </button>
    </div>

    <div style="background:white">
        <ng-container *ngIf="unit">
            <mat-list dense>
                <h3 matSubheader>
                    <button mat-icon-button *ngIf="!isBase" (click)="back()">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                    {{unit.name}}
                </h3>
                <ng-container *ngIf="unit.elements">
                    <mat-list-item *ngFor="let element of unit.elements" (click)="itemClick(element.name)" [ngClass]="{'isBase':isBase}">
                        <mat-icon matListIcon>{{ unit == totalUnit ? 'folder' : 'note' }}</mat-icon>
                        <h4 matLine>{{element.name}}</h4>
                        <p matLine class="value"> {{element.value | numberWithSeperator}} </p>
                    </mat-list-item>
                </ng-container>
            </mat-list>
        </ng-container>
    </div>
</mat-card>