<view-wrapper [head]="head" [button]="button">
    <div flexContainer>
        <menu-left>
            <menu-header>
                <menu-title>{{ value ? value.name : ('Budget' | translate) }}</menu-title>
            </menu-header>
            <menu-container *ngIf="value" flexContainer>

                <div flex=1>
                    <div flexContainer>
                        <span flex=10>{{positive | translate}}</span>
                        <div style='flex: 5; border: 1px solid transparent; min-width:0'>
                            <overview-chart [units]="value.positive" path="{{type + '.positive'}}" (edit)="goto('positive', $event)"></overview-chart>
                        </div>
                        <div flex=10 style="text-align:right;padding:12px 0px;">
                            <button mat-button (click)="goto('positive')">
                                {{'Edit' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
                <div flex=1>
                    <div flexContainer>
                        <span flex=10>{{negative | translate}}</span>
                        <div style='flex: 5; border: 1px solid transparent; min-width:0'>
                            <overview-chart [units]="value.negative" path="{{type + '.negative'}}" (edit)="goto('negative',$event)"></overview-chart>
                        </div>
                        <div flex=10 style="text-align:right;padding:12px 0px;">
                            <button mat-button (click)="goto('negative')">
                                {{'Edit' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </menu-container>
        </menu-left>

        <form #f="ngForm" (ngSubmit)="save(f)" novalidate>
            <menu-right>
                <menu-header>
                    <menu-title>{{ 'Edit' | translate }}</menu-title>
                    <button mat-icon-button [matMenuTriggerFor]="editMenu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </menu-header>
                <menu-input *ngIf="value">
                    <field icon="folder" [(ngModel)]="value.name" name="name" type="text"></field>
                    <span flexContainer>
                        <field style="width:50%;" icon="date_range" [(ngModel)]="value.startYear" min="2017" max="2099" name="startYear" type="number"
                            flex=1></field>
                        <field style="width:50%;" [(ngModel)]="value.endYear" name="endYear" min="2017" max="2099" type="number" flex=1></field>
                    </span>
                </menu-input>
                <menu-container noTop="true">
                    <menu-entry (click)="save(f)" color="{{f.dirty ? color : 'rgba(0,0,0,0.54)' }}" title="">
                        {{'Save' | translate}}
                        <mat-icon>save</mat-icon>
                    </menu-entry>
                    <menu-entry (click)="pin()">
                        <mat-icon>{{theme ? 'favorite' : 'favorite_border'}}</mat-icon>{{ (theme ? 'Unpin' : 'Pin') | translate }}
                    </menu-entry>
                </menu-container>

                <mat-menu #editMenu="matMenu">
                    <div class="mat-menu-items">
                        <button mat-menu-item (click)="copy()">
                            <mat-icon>content_copy</mat-icon> {{ 'CopyThisBudget' | translate }}
                        </button>
                        <button mat-menu-item (click)="delete()">
                            <mat-icon>delete_forever</mat-icon> {{'DeleteThisBudget' | translate }}
                        </button>
                    </div>
                </mat-menu>
            </menu-right>
        </form>
    </div>
</view-wrapper>